
<h1>Welcome, <%= current_user.username %>!</h1>
<%= link_to 'Create an idea', new_user_idea_path(current_user) %>
<% if current_admin? %>
<%= link_to 'Create an category', new_user_idea_path(current_user) %>
<%= link_to 'Create an image', new_user_idea_path(current_user) %>
<% end %>
