<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id=home >
    <h1> Welcome to IdeaBox </h1>
    <%= link_to 'Sign Up to Be a User', new_user_path %>
  </div>

  </body>
</html>
